footer {
  background-color: #b9fcc8;
  color: #000;
  /* padding: 24px 0 12px; */
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

.footer-credits {
  text-align: center;
  padding: 12px;
  border-top: 1px solid #3d5166;
  font-size: 12px;
  line-height: 1.4;
}

/* Responsive */
@media (max-width: 480px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
