:root {
  --fill-layer-image-opacity: 0.08;
  --bg-overlay-color-purple: 24, 21, 124;
  --bg-overlay-color-blue: 77, 130, 239;
  --bg-overlay-color-green: 72, 213, 161;
  --bg-overlay-color-yellow: 234, 222, 113;
}
